<template name="view_image_freesurfer">
<h1>{{name}}</h1>
<div id="viewer" width="1000px"></div>
<br>

  <!--<button class="btn btn-default pial" data-toggle="collapse"
          data-target="#collapsePial" aria-expanded="false"
          aria-controls="collapsePial">Edits</button>
  <br><br>
  <div class="collapse" id="collapsePial">
      <kbd>

        pbr-recon-edits {{doc.name}}

      </kbd>



  </div>-->

  <h2>Quality Check</h2>
    <strong>QC status:</strong> {{doc.quality_check.QC}}
    <br>
    <strong>Last Checked At:</strong> {{doc.checkedAt}}
    <br>
    <strong>Last Checked By:</strong> {{doc.checkedBy}}
    <br>
    <strong>Notes:</strong> {{doc.quality_check.notes_QC}}
    <br>

    <div class="well">

  <form id="fs_QC_form" class="new-qc">

    <div class = "form-group">
    <div class="radio">
      <label>
        <input type="radio" name="QC" id="options_pass" value="1" checked>
        <strong>PASS</strong>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="QC" id="options_fail" value="0">
        <strong>FAIL</strong>
      </label>
    </div>
    
    <div class="radio">
      <label>
        <input type="radio" name="QC" id="options_edit" value="2">
        <strong>NEEDS EDITS</strong>
      </label>
    </div>

      <div class="radio">
      <label>
        <input type="radio" name="QC" id="options_edited" value="3">
        <strong>EDITED</strong>
      </label>
    </div>
    <label>Assign To:
      <select id="user-assign" name="user_assign">

          <option disabled="disabled" selected="selected">Assign To</option>
              {{#each user}}
                  <option value="{{this.username}}">{{this.username}}</option>
              {{/each}}
      </select>
    </label>
  <br>
      <label>
        Notes: <textarea class="form-control" rows="3" width="100%" name="notes_QC"></textarea>
      </label>
    </div>
<br>
      <label>
          <button class="btn btn-success" type="submit">Save</button>
      </label>
  </form>
        </div>

{{> tabular table=TabularTables.Exams selector=selector class="table table-striped table-bordered table-condensed"}}

<!--{{> tabular table=TabularTables.FS selector=fs_selector class="table table-striped table-bordered table-condensed"}}-->

<!--<div class="papaya" data-params="params"></div>-->
</template>