import { Meteor } from 'meteor/meteor';
import { Mongo } from 'meteor/mongo';
import { check } from 'meteor/check';

export const Subjects = new Mongo.Collection('subjects');

import "./table_utils.js"
import "./publications.js"
import "./methods.js"

TabularTables = {}

{% for module in modules %}

TabularTables.{{module.entry_type}} =  new Tabular.Table({
name:"{{module.entry_type}}",
    autoWidth: false,
    collection: Subjects,
    columns:[
    {% for field in module.fields %}
      {% if field.function_name %}
        {{field.function_name}}("{{module.entry_type}}", "{{field.id}}", "{{field.name}}"),
      {% else %}
        {data: "{{field.id}}", title: "{{field.name}}" }
      {% endif %}
    {% endfor %}
    ]
    })
{% endfor %}

