<template name="base">

{% for module in modules %}
    {{start_tag}}> {{module.entry_type}} {{end_tag}}
{% endfor %}

</template>

{% for module in modules %}
<template name="{{module.entry_type}}">

<h1 id="{{module.name}}">{{module.name}}</h1>
{% if module.graph_type == "datehist" %}
    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
      Toggle Calendar
    </button>
    <br>
    <br>
    <div class="collapse {% if module.showgraph %}in{% endif %}" id="collapseExample" aria-labelledby="collapseExample">
        <div id="d3vis_date_{{module.entry_type}}"></div>
    </div>

{% elif module.graph_type=="histogram"%}
 <br>
  <br>
    Selected Metric: {{start_tag}}currentMetric{{end_tag}}
  <div class="d3board">

        <svg id="d3vis_{{module.entry_type}}"></svg>

  </div>

    <select id="metric-select-{{module.entry_type}}" class="form-control">
    <option disabled="disabled" selected="selected" >Please Select</option>
    {{start_tag}}#each metric{{end_tag}}
        <option value="{{start_tag}}this{{end_tag}}">{{start_tag}}this{{end_tag}}</option>
    {{start_tag}}/each{{end_tag}}
</select>

  <br><br>

{% endif %}


    <div id="{{module.entry_type}}_table">

        {{start_tag}}> tabular table=TabularTables.{{module.entry_type}} selector=selector class="table table-striped table-bordered table-condensed"{{end_tag}}

    </div>

</template>

{% endfor %}

<template name="body_sidebar">

  <div class="span3">
            <div class="bs-docs-sidebar">

                    <ul class="nav nav-list bs-docs-sidenav affix">
                        {% for module in modules%}
                        <li><a href="#{{module.entry_type}}">
                            <span class="badge badge-inverse"></span> {{module.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>

                 <ul class="nav nav-list affix qbox">
                 <h5>Query Box</h5>

  <button class="btn btn-default btn-small reset"> Reset </button>
                     <br><br>


                 <div class="well">

                     {{start_tag}}#each currentSelector{{end_tag}}
                    <span class="tag label label-info">
                      <span class="{{start_tag}}this.mapper{{end_tag}}">{{start_tag}}this.name{{end_tag}}</span>
                      <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                    </span>
                    <br><br>
                     {{start_tag}}/each{{end_tag}}


                 </div>
<form class="form-inline">
    <div class="form-group">
        <button class="btn btn-default btn-small save"> Save </button>
        <input type="text" name="qname" id="qname" class="form-control"><br>
    </div>
</form>
                <h5>Saved Queries</h5>


                {{start_tag}}#each savedQueries{{end_tag}}

                    <span class="tag label label-primary">
                      <span class="query {{name}}">{{start_tag}}name{{end_tag}}</span>
                        <a><i class="removequery glyphicon glyphicon-trash glyphicon-white"></i></a>
                    </span>

                    <br>
                    <br>

                {{start_tag}}/each{{end_tag}}

                 </ul>
            </div>
        </div>

</template>